* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Overpass Mono', monospace;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color:rgb(77, 77, 77);
    border-radius: 20px;
    width: 410px;
    height: 624px;
    padding: 20px;
    margin: 20px;
}

.display {
    display: flex;
    justify-content: right;
    background-color:rgb(24, 24, 24);
    border-radius: 16px;
    padding: 10px 15px 0 15px;
}

.displaytext {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.76);
}

.displaynegative {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.76);
}

.keys {
    margin: 36px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(228, 228, 228, 0.5);
    border-radius: 16px;
    border-style: solid;
    width: 90px;
    height: 90px;
    font-size: 44px;
    color: rgb(224, 224, 224);
}

button.active.focus, button.active:focus,
button.focus, button:active.focus, 
button:active:focus, button:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
}

.key.double {
    width: 196px;
}

.key.num {
    background-color:rgb(97, 97, 97);
}

.key.operate,
.key.calculate {
    background-color:rgb(255, 145, 0);
    border-color: rgb(255, 162, 41);
}

.key.special {
    background-color:rgb(167, 167, 167);
    border-color: rgb(139, 139, 139);
    color:rgb(59, 59, 59)
}